<header class="global">
    <div class="row">
        <div class="columns xsmall-12 main-nav">
            <div class="filament-logo">
                {{#link-to "index" class="icon-filament-logo"}}<span class="hidden">Filament Creative Inc.</span>{{/link-to}}
            </div>

            <nav class="header-nav">
                <ul>
                    {{#if contactOpen}}
                        <li>{{#link-to "work"}}Work{{/link-to}}</li>
                        <li>{{#link-to "about"}}About{{/link-to}}</li>
                        <li>{{#link-to "blogs"}}Blog{{/link-to}}</li>
                        <li><button {{action "show_get_in_touch"}}>Contact</button></li>
                    {{else}}
                        <li class="close-btn"><button class="icon-close" {{action "close_get_in_touch"}}>Close</button></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</header>