<h1>Hello World</h1>
<h2>Welcome to Ember</h2>
<h3>Trying this out</h3>
<h4>Still trying</h4>
<h5>This is a tag I think</h5>

<p>Test 1, 2, 3</p>
<p>Test 1, 2, 3</p>

<a href="/" class="button bg-red">Sample Button</a>
<a href="/" class="button bg-tealLight">Sample Button</a>
<a href="/" class="button bg-green">Sample Button</a>
<a href="/" class="button bg-forestDark">Sample Button</a>

{{outlet}}
