<section>
    <div class="row">
        <div class="columns xsmall-12 text-center">
            <h3 clas="gamma">Header will go here</h3>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="columns xsmall-12 text-center">
            {{#link-to 'index'}}
                <h1>New Filament Creative Website</h1>
            {{/link-to}}
        </div>
    </div>
</section>

{{outlet}}

<section>
    <div class="row">
        <div class="columns xsmall-12 text-center">
            <h3 clas="gamma">Footer will go here</h3>
        </div>
    </div>
</section>
