<section>
    <div class="row">
        <div class="columns xsmall-12 text-center">
            {{#link-to 'index'}}
                <h1 class="alpha">New Filament Creative Website</h1>
            {{/link-to}}
        </div>
    </div>
</section>

<a href="/" class="button bg-red">Sample Button</a>
<a href="/" class="button bg-tealLight">Sample Button</a>
<a href="/" class="button bg-green">Sample Button</a>
<a href="/" class="button bg-forestDark">Sample Button</a>

{{outlet}}
