<section>
    <div class="row">
        <div class="columns xsmall-12">
            {{!-- <ul>
                {{#each model as |blog|}}
                    <li>
                        {{blog.title}}
                    </li>
                {{/each}}
            </ul> --}}
        </div>
    </div>
</section>

{{outlet}}
