<section class="blog-single first">
    <div class="row">
        <div class="post-list columns medium-6 medium-pull-6 xsmall-12">
            <div class="masthead">
                <h5 class="tags">#Project Management #Process</h5>
                
                <div data-nav="transition">
                    <h1 class="for-blog-transition">Thinking About Thinking</h1>
                    <p class="intro-lg">Memory Techniques, Mental Organization, &amp; 
                    Better Project Management</p>
                    
                    <div id="test"> This is a test. This should fade out on click</div>  
                    <button {{action "pressed"}}>Press Me</button>
                
                    <div class="meta">
                        <div class="image-wrap circle">
                            <img src="/assets/images/trev-test.jpg" alt="">
                        </div>

                        <h5>By Trevor Davson</h5>
                        <span class="spacer"></span>
                        <h5>Sept 9 2015</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>

<section class="content bg-blueGreyLight">
    <div class="row">
        <div class="columns medium-8 medium-pull-2 xsmall-12 text-center">
            <p class="intro-med">Alright, first things first — this blog post is 
                going to get pretty nerdy, pretty quickly. So, tape your glasses 
                together, strap on the ol’ pocket protector, and start thinking 
                about how we think about thinking.</p>
            <p class="intro-med">Wait...what? Exactly.</p>
            <span class="break"></span>
        </div>
    </div>
    <div class="row">
        <div class="columns medium-6 medium-pull-3 xsmall-12">
            <p>We don’t often think about the way we think because, well, that 
                hurts our brains, but we all think and just like any muscle in 
                the body, the brain (although not actually a muscle) can be 
                exercised and conditioned to work more efficiently. For instance, 
                Black Cab drivers in London are required to memorize the entire 
                convoluted network of streets in the English capital in order to 
                pass an exam known as ‘The Knowledge, afterwhich they receive 
                their licenses. Studies have found that over the course of 
                preparing for this mental marathon of an exam, which takes about 
                2+ years, the hippocampi (which is apparently the plural of 
                hippocampus) of the prospective cab drivers actually grows. That 
                shit’s crazy!</p>

            <p>Cool story, bro — but what does having a good memory have to do 
                with good project management? Good question.</p>

            <p>Well, ultimately good project management stems from good 
                organization, and good organization has an awful lot to do with 
                how we think about, group, and store information. And, funnily 
                enough, memory techniques are entirely about grouping and storing 
                information in creative and inventive ways. Of course that doesn’t 
                mean that we should all start memorizing everything in our 
                day-to-day lives. We’ve got a variety of project management tools 
                in the office, smartphones to keep track of important dates and 
                events, and, if you like to kick it old school, pens and paper to 
                make lists. But, memory techniques can teach us a lot about how we 
                think and how to become better thinkers when it comes to 
                organization. So, first things first, let’s talk a little about 
                memory techniques and this really cool book that I read.</p>
        </div>
    </div>
</section>

<section class="content bg-white">
    <div class="row">
        <div class="columns medium-6 medium-pull-3 xsmall-12">
            <h3>Memory Techniques & This Really Cool Book That I Read</h3>
        </div>
    </div>
    <div class="row">
        <div class="columns medium-6 medium-pull-3 xsmall-12">
            <p>A couple of years ago I read a book about memory techniques called 
                Moonwalking With Einstein by Joshua Foer. I loved it. I then lent 
                it to a friend who ironically forgot to read it, but when I got it 
                back, I re-read it and, aside from being a thoroughly enjoyable 
                read, it really got me thinking a lot about how we actually think. 
                It also got me slightly obsessed with trying to memorize entire 
                decks of cards, which is surprisingly fun and not-so-surprisingly 
                hard to master. The book follows the author, a curious science 
                journalist, over a year long quest to uncover the mysteries of 
                memory and documents his coverage of, and eventual inclusion in, 
                memory championships. Check out the book if you’re looking for more 
                detail but long story short, you don’t have to be a genius to be 
                able to win the memory championships. All you need are a couple 
                techniques that exploit what we, as humans, are all inherently good 
                at already. We have an astounding and entirely innate ability to 
                reconstruct the physical world around us in our mind’s eye. Our 
                capacity for spatial memory (places and things) far exceeds our 
                conceptual memory. Why is that? It’s because language and the 
                concepts we associate with words are relatively new on our 
                evolutionary timelines. Spatial awareness, however, is not. Being 
                able to remember which parts of the forest are dangerous and which 
                trails to take — that’s where humans and our ancestors really 
                shine.</p>

            <p>If I asked you, as Foer does in his book, to close your eyes and 
                picture your childhood home, you’d be able to walk through it and 
                remember the exact layout of your home, where specific items were, 
                and even specific textures and colours. We’re so good at remembering 
                spatially, that we’re not even aware that we’re doing it most of the 
                time. It’s second nature to us. And, it’s not just limited to spaces 
                that we’re really familiar with. We can walk through a home or an 
                unfamiliar part of town once and remember it with surprising detail 
                months or even years later. In addition to having great spatial memories, 
                we also remember best when we’re engaged or stimulated. It’s much easier 
                to remember something interesting or outrageous. That’s why it’s easy 
                for us to recall our favourite movie scenes or recall random facts about 
                video games, or music, or Simpsons trivia. Everyone’s got a great memory 
                for something as long as it’s interesting and it’s stimulating to them.</p>

            <p>So if we’re “programmed” this way, then how can we use this to our 
                advantage? By combining two very simple techniques: The Memory Palace 
                and something called Elaborate Encoding.</p>

            <h5>Building Your Memory Palace &amp; Encoding Elaborately</h5>

            <p>Dating back to Ancient Greece, where orators would memorize entire 
                speeches and books using the technique, the Memory Palace works by 
                harnessing our capacity for spatial memory. Here’s how it works: key 
                chunks of information are stored in imagined physical locations in your 
                mind and this allows you, the creator of your memory palace, to 
                essentially walk through a familiar space, like your house, and store 
                information at key locations.</p>

            <p>Elaborate encoding works by taking abstract concepts, like language, and 
                adding associative hooks to them. There’s something called the Baker / Baker 
                paradox that illustrates this really simply, and it’s how Foer explains 
                the concept in his book. If you tell two people to remember the word ‘Baker’ 
                but you tell one person that it’s a man’s last name, and the other person 
                that the man is a baker by profession, you’ll get very different results. 
                The person who was told that the man was a baker by profession will be much 
                more likely to remember the word. Why? It’s because you can easily picture 
                things associated with someone who’s a baker by profession. For me, the 
                smell of bread, dough on a baking board, muffin trays, a flour-covered apron, 
                and a big baker’s hat are all things that I associate with the profession 
                Baker. These images rush into my mind without having to really think about 
                them and help me encode the data. With ‘Baker’ as a last name, there’s nothing 
                that I can visualize — I don’t know what this “Mr. Baker” looks like or anything 
                about him and therefore I have no hooks to associate and encode the data. As 
                a result, it’s easily forgotten.</p>

            <p>Let’s combine these techniques and try and memorize a list of 4 everyday tasks. 
                Here’s my list:</p>

            <ul>
                <li>Pick up laundry detergent</li>
                <li>Make a reservation at my favourite restaurant</li>
                <li>Email my cousin about the family BBQ</li>
                <li>Sketch out logo ideas for a new client</li>
            </ul>

            <p>Alright, that’s my list. Now let’s choose a memory palace. I’m going to use 
                my apartment for the purposes of this example, but you can use any physical 
                space that you’re really familiar with. Starting with the “pick up laundry 
                detergent” task, I’m going to open the front door to my apartment. I can 
                picture my doormat and the salt stains (this might just be a Canadian problem) 
                on the hardwood floor. I can see the line of shoes running parallel to my 
                front hallway. If I look up to my left I can see coats hanging on the wall 
                and that crack in the drywall that seems to be steadily getting bigger. Looking 
                forward towards the curling staircase that leads up into the main floor of my 
                apartment I’m going to picture a bright orange bottle of Tide detergent. I can 
                smell the fresh scent of lavender in the air and see the grooves in the dark 
                purple cap. This isn’t an ordinary bottle of detergent though. This bottle has 
                arms and it’s lifting weights. It’s got a headband on and it’s doing bicep curls. 
                Tiny beads of sweat are slowly running down the neck of the bottle. I have to 
                sneak past it and as I head up the stairs I start to hear a phone ringing. I 
                turn left at the top of the stairs and walk into the TV room. I can see my green 
                leather sectional couch and my cheap, black Ikea coffee table. On the table sits 
                a phone and it’s ringing but it’s not like any phone I’ve ever seen before. 
                The phone is made entirely of pizza. The buttons are made of pepperoni and the 
                console is made of cheese. Floating above the phone is a tiny solar system. 
                It’s our solar system and I can see Saturn and it’s iconic rings. As I step 
                back, now wishing I had a pizza to eat, I turn and head towards the bathroom. 
                I walk past the hot water pipes that lead into the hallway radiator and with 
                each step that I take, the hardwood floors creak underneath me. I open the 
                door to the bathroom and I can hear what sounds like a keyboard clicking away. 
                It seems to be coming from the shower so I pull back the nautically themed 
                shower curtain (also an Ikea purchase!) and to my surprise, there’s a massive 
                drum barbeque in my shower. I open the bright red lid and there’s a computer 
                slowly turning on a spit roast, the keys slowly clicking away. The scent of 
                burnt plastic is overpowering. As I exit the bathroom and head farther towards 
                the back of my apartment I slowly start to notice that the walls are starting 
                to change. They no longer look real, as if they’re slowly fading from actual 
                walls, to rough sketches of walls (like in the music video for Aha’s ‘Take On Me’). 
                By the time I reach the kitchen, the entire back half of my apartment is a sketch 
                and there’s a giant pencil still drawing the fridge.</p>

            <p>That’s my memory palace. It took several minutes to write out here but maybe 30 
                seconds to think up. Essentially what I’ve done is gone task by task and thought 
                up vivid and often outlandish images in distinct physical locations to represent 
                each item I’d like to remember. If I walk through my memory palace quickly in my 
                mind I can picture the weight-lifting bottle of Tide and I know that I need to 
                pick up laundry detergent. I can see the pizza phone and Saturn’s rings and I 
                know that I need to call and make a reservation for dinner on Saturday night. I 
                can see the computer roasting on the barbeque and I know I need to email my cousin 
                about the family barbeque. And lastly, seeing my apartment slowly turn into a 
                giant sketch, I know that I need to make some sketches for that new client and 
                that I kind of want to listen to that ‘Take On Me’ song now. In all likelihood, 
                if I were to ask you what that list of items was several weeks from now, you’d 
                be able to remember it with surprising detail.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns medium-8 medium-pull-2 xsmall-12">
            <div class="image-wrap">
                <img src="/assets/images/trev-blog-memory-palace.jpg" alt="">
            </div>
        </div>
    </div>
</section>



