<section>
    <div class="row">
        <div class="columns xsmall-12 text-center">
            {{#link-to 'blogs'}}Back to Blog{{/link-to}}
            <h5 class="epsilon">First Blog Title</h5>
        </div>
    </div>  
</section>