<section class="blog-landing container">
    <div class="row">
        <div class="post-list columns xsmall-12">
            <ul class="blog-list-wrapper">
                <li class="blog-single-link">
                    <h5 class="tags">#Project Management #Process</h5>
                    {{#link-to 'blog-first'}}
                        <div data-nav="transition">
                            <h2 class="for-blog-transition">Thinking About Thinking</h2>
                            <p class="intro-sm">Memory Techniques, Mental Organization, &amp; Better Project Management</p>
                        
                            <div class="meta">
                                <div class="image-wrap circle">
                                    <img src="/assets/images/trev-test.jpg" alt="">
                                </div>

                                <h5>By Trevor Davson</h5>
                                <span class="spacer"></span>
                                <h5>Sept 9 2015</h5>
                            </div>
                        </div>
                    {{/link-to}}
                </li>

                <li class="for-blog-transition">
                    <h5 class="tags">#UX #Gaming</h5>
                    {{#link-to 'blog-second'}}
                        <div data-nav-2="transition">
                            <h2>UX Critique: StreetPass Mii Plaza</h2>
                            <p class="intro-sm">I genuinely get a thrill of excitement when I spot someone else on the bus playing their 3DS, instantly followed by a sense of tedious obligation-induced dread. Here’s why.</p>
                            
                            <div class="meta">
                                <div class="image-wrap circle">
                                    <img src="/assets/images/blog-avatar-lindz.jpg" alt="">
                                </div>

                                <h5>By Lindsay Trevors</h5>
                                <span class="spacer"></span>
                                <h5>Sept 9 2015</h5>
                            </div>
                        </div>
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</section>
