{{#link-to 'blogs'}}Back to Blog{{/link-to}}

<section class="blog-single first">
    <div class="row">
        <div class="columns medium-5 medium-pull-7 xsmall-12">
            <h5 class="tags">#Project Management #Process</h5>
            <h1>Thinking About Thinking</h1>
            <p class="intro-lg">Memory Techniques, Mental Organization, &amp; Better Project Management</p>
            
            <div class="meta">
                <div class="image-wrap circle">
                    <img src="/assets/images/trev-test.jpg" alt="">
                </div>

                <h5>By Trevor Davson</h5>
                <span class="spacer"></span>
                <h5>Sept 9 2015</h5>
            </div>
        </div>
    </div>  
</section>