<ul>
  {{#link-to 'first-blog-title'}}
    <li>
      <strong>First Blog Title</strong><br>
      <em>by</em><br>
      Trevor Davson
    </li>
  {{/link-to}}

  {{#link-to 'second-blog-title'}}
    <li>
      <strong>Second Blog Title</strong><br>
      <em>by</em><br>
      Lindsay Trevors
    </li>
  {{/link-to}}
</ul>

{{outlet}}
