<section class="blog-single second">
    <div class="row">
        <div class="post-list columns medium-6 medium-pull-6 xsmall-12">
            <div class="masthead">
                <h5 class="tags">#UX #Gaming</h5>
                
                <div data-nav-2="transition">
                    <h1 class="for-blog-transition">UX Critique: StreetPass Mii Plaza</h1>
                    <p class="intro-lg">I genuinely get a thrill of excitement when I spot someone else on the bus playing their 3DS, instantly followed by a sense of tedious obligation-induced dread. Here’s why.</p>
                
                    <div class="meta">
                        <div class="image-wrap circle">
                            <img src="/assets/images/blog-avatar-lindz.jpg" alt="">
                        </div>

                        <h5>By Lindsay Trevors</h5>
                        <span class="spacer"></span>
                        <h5>Sept 9 2015</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>