<section id="fitstar-hero" class="hero">
	<div class="row">
		<div class="column large-6 large-centered white-text">
			<h1><span class="pulled-quote">&quot;</span>We just want a re-skin</h1>
			<p>Sure, we can do that. We can also do a whole lot more as FitStar found out.</p>
		</div>
	</div>
</section>

<section id="fitstar-intro">
	<div class="row sideline-with-icon">
		<div class="column large-7">
			<h1 class="beta">Intro</h1>
			<p class="intro-lg">We have something to admit. We don't know what a re-skin means. If your site wasn't doing the job 
				before, a fresh coat of paint isn't going to help. As with every reno, the same question will inevitably 
				get asked, since we've already come this far, shouldn't we just redo the kitchen too? Well, we asked that 
				question and then ripped everything back to the studs.</p>
		</div>
		<div class="column large-5">
			<h4>Quick Look</h4>
			<ul class="underlined-list">
				<li>FitStar was acquired by Fitbit in 2015</li>
				<li>Website design, development, and content strategy for 2 product launches</li>
				<li>Application UI and UX for FitStar for the web</li>
				<li>Design and development of email and landing page campaigns</li>
				<li>Over 11,000 calories burned by the Filament team using FitStar</li>
				<li>Fun Fact: We hate high knees. If Tony asks us to do high knees again, we'll hunt him down</li>
			</ul>
		</div>
	</div>
</section>

<section id="redesign2013">
	<div class="row">
		<div class="column large-8 large-centered text-center">
			<h6 class="icon-circle">2013: FITSTAR.COM REDESIGN</h6>
			<h1 class="beta">The Start Of A Great Relationship</h1>
			<p>We're going to try and limit the fitness puns but you'll forgive us if we stretch this out a little bit as we get warmed up. This story isn't about design—though we did a kick ass job of that—It's about how we kept pace with a fast-moving startup and became a strategic partner in their journey to acquisition.</p>
			<p>After meeting the FitStar team in San Francisco, we knew that even though what they had in mind would have been fine, we just weren't happy with fine. What began as a re-skin with a tight timeline quickly turned into a great partnership and process. We used audience interviews to inform new content and fresh copy writing, integrate social media more strategically to grow their community, and completely overhaul the information architecture to focus on activation and conversion flows. Oh, we did it all in just 10 weeks.</p>
		</div>
	</div>
</section>

<section id="ftw">
	<div class="row sideline-with-icon">
		<div class="column large-8">
			<h6>2014: FitStar For The Web</h6>
			<h1>Building on a Solid Foundation</h1>
			<p>After the launch of the site, FitStar enjoyed triple digit growth for sessions, and users. Being named one of the App Store's best of 2013 didn't hurt either.</p>
		</div>
		<div class="column large-4">
			alsdkjalskjdalksj
		</div>
	</div>
	
	<div class="gradient">
		
	</div>

</section>