<section class="get-in-touch-form">
    <div class="row">
        <div class="columns xsmall-12">
            <form class="text-center"> 
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </form>
        </div>
    </div>
</section>
