<section class="container">
    <div class="row">
        <div class="columns xsmall-12 text-center">
          <h4 class="delta">Goal is to shrink this to the bottom when get in touch is clicked</h4>
        </div>
    </div>
</section>