<section class="homepage">
    <div class="row">

        <div class="homepage-fitstar-panel container">
            <div class="columns xsmall-12 small-6 fitstar-image">
            </div>

            <div class="columns xsmall-12 small-6 fitstar-text">
                <div class="v-wrapper">
                    <div class="v-inner">
                        <div class="text">
                            <h6 class="zeta">Fitstar</h6>
                            <h2 class="beta">Bringing the gym to your pocket.</h2>
                            {{#link-to 'scalar-case-study'}}
                                <h6 class="zeta view-case-study">View case study <span class="icon-arrow-right"></span></h6>
                            {{/link-to}}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>