<section class="homepage">
    <div class="row">

        <div class="homepage-fitstar-panel container">
            <div class="columns xsmall-12 small-6 fitstar-image">
                <div class="logo-bg"></div>
                {{#link-to 'scalar-case-study'}}
                    <div class="homepage-announcement">
                        <div class="v-wrapper">
                            <div class="v-inner">
                                <h6 class="zeta">Latest News</h6>
                                <h3 class="gamma">Our first Hackathon was a huge success</h3>
                                <h6 class="zeta view-announcement-item">Read more <button class="icon-arrow-right"></button></h6>
                            </div>
                        </div>
                    </div>
                {{/link-to}}
            </div>

            <div class="columns xsmall-12 small-6 fitstar-text">
                <div class="v-wrapper">
                    <div class="v-inner">
                        <div class="text">
                            <h6 class="zeta">Fitstar</h6>
                            <h2 class="beta">Bringing the gym to your pocket.</h2>
                            {{#link-to 'scalar-case-study'}}
                                <h6 class="zeta view-case-study">View case study <button class="icon-arrow-right"></button></h6>
                            {{/link-to}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="homepage-case-study-nav">
        <div class="homepage-fitstar-nav">
            <div class="nav-prev icon-arrow-right"></div>
            <div class="screenshot"></div>
            <div class="nav-next icon-arrow-right"></div>
        </div>
    </div>
</section>