<section>
    <div class="row">
        <div class="columns xsmall-12 text-center">
            {{#link-to "blogs"}}<h4 class="delta">Blog</h4>{{/link-to}}
            {{#link-to "style-guide"}}<h4 class="delta">Style Guide</h4>{{/link-to}}
        </div>
    </div>
</section>