<section class="hero">
	<div class="row">
		<div class="column large-6 large-centered white-text">
			<h1>“A website won’t help me land a new account”</h1>
			<p>Or will it? Some pretty amazing things can happen when you design with your  audience in mind.</p>
		</div>
	</div>
</section>

<section class="scalar-intro">
	<div class="row">
		<div class="column large-5 large-push-2">
			<h1>Intro</h1>
			<p>In the IT world, things change fast and the Scalar team knew their existing site, the one that had been 
				patched over, sprawling, without direction for 5 years, no longer reflected the company’s DNA or their 
				current services. Scalar approached Filament in January of 2015 for a pretty substantial redesign.</p>
		</div>
		<div class="column large-4">
			<h6>Quick Look</h6>
			<ul>
				<li>Scalar is big. $350 Million in revenue, 300 employees, 7 offices across Canada.</li>
				<li>19 weeks from start to finish.</li>
				<li>Brand repositioning, audience research, website redesign, video production.</li>
				<li>We worked with the stakeholder teams spanning 2 timezones and 4,370.7 KM.</li>
				<li>We learned a lot about video conferencing. Mostly that it sucks.</li>
			</ul>
		</div>
	</div>
</section>

<section class="scalar-composition">
	<div class="row">
		<div class="column large-4 large-push-2">
			<h1>Key Feature</h1>
			<p>How do you reach an audience that never reaches your website? After numerous audience interviews, we found 
				that Scalar's existing customers, for the most part, had never been to their website. Weird, right? We thought so too.</p>
			<p>If we could find a way to make Scalar a go-to property for research covering trending IT topics, strong, relevant case studies, 
				and consolidated resources, we could offer a counter point to the argument that a website can help land an account?</p>
		</div>
		<div class="column large-5">
			<blockquote>
				A good case study will bring someone to the table.
			</blockquote>
		</div>
	</div>

	<div class="row">
		<div class="column large-5 large-push-1">
			<h3>PERSONAL &amp; PROFESSIONAL CONTENT</h3>
			<p>There was no doubt that the Scalar team could produce great content—they are all super smart—but making it goal-oriented, accessible, 
				shareable, and tailored to varying yet specific needs was a big challenge. Those constraints aren't the most forgiving but the solution 
				was a content shopping cart for the entire site. The cart checkout was the creation of what we called Collections and it worked brilliantly. 
				Self-high-five.</p>
		</div>
		<div class="column large-5 large-pull-1">
			<h3>HOW IT WORKS</h3>
			<p>Anything with a URL can be added to a collection; videos, client stories, infographics, blog posts, slide decks, everything. Visitors could 
				grab what they needed and access it at any time via their collection URL. A modal window with some easy-to-follow instructions greeted each 
				user on their first visit. After that, throughout the session, the collection basket followed. It stayed out of the way on the bottom and could 
				be pulled up and edited just by clicking on it. When you were done collecting, the unique URL was sent to your inbox.</p>
		</div>
	</div>

	<div class="row">
		<div class="column large-10">
			<div class="bg-white">
				<h2>170+ COLLECTIONS CREATED</h2>
				<p>Collections completely eliminated the need to have every service or solution represented in the IA and kept it streamlined. If account reps 
					needed specific content for a prospect, they could create custom collections, to help them sell better in every situation. The marketing team 
					could curate collections based on industry trend and stock them with any resource on the site—like a multimedia greatest hits. These collections 
					not only helped users look good in front of their bosses, but they were integrated into Scalars Social Media planning in a much more strategic way. 
					Since launch, over 170 collections have been created by visitors to the site, more than 1 new collection a day - that's a lot of good-looking people.</p>
			</div>
		</div>
	</div>
</section>

<section>
	
</section>