<section>
    <div class="row">
        <div class="columns xsmall-12 text-center">
          <h2 class="beta">Style Guide</h2>
        </div>
    </div>

    <div class="row">
        <div class="columns xsmall-12">
          <h4 class="delta">Sample Buttons</h4>
            {{#link-to 'index' class="button bg-red"}}Sample Button{{/link-to}}
            {{#link-to 'index' class="button bg-tealLight"}}Sample Button{{/link-to}}
            {{#link-to 'index' class="button bg-green"}}Sample Button{{/link-to}}
            {{#link-to 'index' class="button bg-forestDark"}}Sample Button{{/link-to}}
        </div>
    </div>

    {{!-- <div class="row">
        <div class="columns xsmall-12">
            <h4 class="colors">
                <p class="color-palette" id="title-color">Title Color</p>
                <p class="color-palette" id="title-color">Body Color</p>
                <p class="color-palette" id="title-color">Black</p>
                <p class="color-palette" id="title-color">White</p>
                <p class="color-palette" id="title-color">Charcoal Light</p>
                <p class="color-palette" id="title-color">Charcoal</p>
                <p class="color-palette" id="title-color">Charcoal Dark</p>
                <p class="color-palette" id="title-color">Charcoal Darker</p>
                <p class="color-palette" id="title-color">Beige Light</p>
                <p class="color-palette" id="title-color">Beige</p>
                <p class="color-palette" id="title-color">Beige Dark</p>
                <p class="color-palette" id="title-color">Blue Grey Light</p>
                <p class="color-palette" id="title-color">Filament Lab</p>
                <p class="color-palette" id="title-color">Filament Lab</p>
            </h4>
        </div>
    </div> --}}
</section>