<section>
    <div class="row">
        <div class="columns xsmall-12 text-center">
          <h2 class="beta">Style Guide</h2>
        </div>
    </div>

    <div class="row">
        <div class="columns xsmall-12">
          <h4 class="delta">Sample Buttons</h4>
            {{#link-to 'index' class="button bg-red"}}Sample Button{{/link-to}}
            {{#link-to 'index' class="button bg-tealLight"}}Sample Button{{/link-to}}
            {{#link-to 'index' class="button bg-green"}}Sample Button{{/link-to}}
            {{#link-to 'index' class="button bg-forestDark"}}Sample Button{{/link-to}}
        </div>
    </div>
</section>