.blog-landing {
    @include prop(padding, 100, 0);

    .post-list {
        padding-right: 0;
    }
    .post-image {
        padding-left: 0;
    }

    li {
        padding: 70px 100px 40px 0;
        position: relative;

        &:after {
            @include trans(right 0.3s ease);
            background-color: $blueGreyDark;
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            height: 1px;
            right: 100px;
        }

        a {
            display: block;
        }

        &:hover {

            &:after {
                right: 0;
            }
        }
    }

    .tags {
        margin-bottom: 10px;
        color: $yellowDark;
        font-size: 11px;
    }

    h2 {
        margin-bottom: 20px;
        color: $titleColor;
    }

    .meta {
        @include prop(padding, 4, 0, 0, 55);
        position: relative;

        .image-wrap {
            position: absolute;
            left: 0;
            top: 0;
        }

        h5 {
            display: inline-block;
            color: $titleColor;
            font-size: 11px;

            &:first-of-type {
                color: $yellowDark;
            }
        }
    }
}



.blog-single {

    &.first .row {
        background: url('/assets/images/hero-trev-blog.jpg') bottom right no-repeat;
    }

    .tags {
        margin-bottom: 10px;
        color: $yellowDark;
        font-size: 11px;
    }
}





