//----------------------------------------------------------------
//  Hero
//----------------------------------------------------------------
#fitstar-hero {
	background: #00AEF3;

	h1,
	p {
		color: #fff;
	}
}


//----------------------------------------------------------------
//  Intro
//----------------------------------------------------------------
#fitstar-intro {
	padding: 100px 0 0 0;
	background: #fff;

	.sideline-with-icon {
		padding-bottom: 100px;

		&:before {
			background: #EAECEF;
		}
	}
}


//----------------------------------------------------------------
//  Redesign (2013)
//----------------------------------------------------------------
#redesign2013 {
	padding: 100px 0;
	background: #EDF3F9;
}


//----------------------------------------------------------------
//  FitStar For The Web
//----------------------------------------------------------------
#ftw {
	background: #8E208F;
}