#get-in-touch {
    background-color: $green;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: 0;

    &.active {
        z-index: 1;

        .contact-form-header {
            position: relative;
            z-index: 3;
        }
    }

    @media only screen and (min-width: $mediumScreen + px) {
        overflow: hidden;
    }

    .top-row {
        height: 100%;
    }

    .beta {
        color: $white;
        @include prop(margin-bottom, 10);
    }

    .address,
    .tel,
    .email {
        @include prop(padding, 30, 0);
    }

    .gamma {
        color: $white;
        @include prop(margin-bottom, 20);

        &.sm {
            @include prop(margin, 0);
            line-height: 1.5;
        }

        a {
            color: $white;
            text-decoration: none;
            border-bottom: 1px solid $white;

            @media only screen and (min-width: $mediumScreen + px) {
                border-bottom: 0px solid $white;
            }
        }
    }

    .directions-tag {
        color: $white;
        background: transparent;
        @include fontSize(9);
        border: 1px solid $greenLightest;
        border-radius: 2px;
        letter-spacing: 1px;
        margin-top: 20px;
        padding: 5px 10px;
        display: inline-block;

        @media only screen and (min-width: $mediumScreen + px) {
            display: none;
        }
    }

    .contact-form-header {
        overflow: hidden;
        position: relative;

        h2 {
            float: left;
        }

        button {
            float: right;
            background: transparent;
            display: none;
            color: $white;

            @media only screen and (min-width: $mediumScreen + px) {
                display: inline-block;
            }
        }
    }

    .mobile-contact-form-header {
        position: relative;

        h2 {
            display: inline-block;
        }

        button {
            position: absolute;
            top: -40px;
            right: -15px;
            background: transparent;
            display: block;
            color: $white;

            @media only screen and (min-width: $mediumScreen + px) {
                display: none;
            }
        }
    }

    .column-left,
    .column-right {
        height: initial;

        @media only screen and (min-width: $mediumScreen + px) {
            height: 100%;
        }
    }

    .column-left {
        background: $green;
        padding: 0 20px;
        padding-top: 75px;
        text-align: center;

        @media only screen and (min-width: $smallScreen + px) {

        }

        @media only screen and (min-width: $mediumScreen + px) {
            padding-left: 100px;
            text-align: left;
            padding-top: 40px;
        }

        @media only screen and (min-width: $largeScreen + px) {
            padding-left: 140px;
            padding-top: 65px;
        }
    }

    .column-right {
        background: #33944E;
        padding-top: 40px;

        @media only screen and (min-width: $smallScreen + px) {
        }

        @media only screen and (min-width: $mediumScreen + px) {
            
        }

        @media only screen and (min-width: $largeScreen + px) {
            padding-top: 65px;
        }        
    }
}