#get-in-touch {
    background-color: $green;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;

    .beta {
        color: $white;
        @include prop(margin-bottom, 10);
    }

    .address,
    .tel,
    .email {
        @include prop(padding, 40, 0);
    }

    .gamma {
        color: $white;
        @include prop(margin-bottom, 30);

        &.sm {
            @include prop(margin, 0);
            line-height: 1.5;
        }

        a {
            color: $white;
            text-decoration: none;
        }
    }

    .column-left {
        background: $green;
        @include prop(padding-left, 180);
        @include prop(padding-top, 65);
    }

    .column-right {
        @include prop(padding-top, 65);
        background: $greenDark;
        height: 100%;
    }

    form {
        margin: 0 auto;

        input {
            display: block;
        }
    }
}