#get-in-touch {
    background-color: $green;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: 0;

    &.active {
        z-index: 1;

        .contact-form-header {
            position: relative;
            z-index: 3;
        }
    }

    @media only screen and (min-width: $mediumScreen + px) {
        overflow: hidden;
    }

    .top-row {
        height: 100%;
    }

    .beta {
        color: $white;
        @include prop(margin-bottom, 10);
    }

    .address,
    .tel,
    .email {
        @include prop(padding, 30, 0);
    }

    .gamma {
        color: $white;
        @include prop(margin-bottom, 20);

        &.sm {
            @include prop(margin, 0);
            line-height: 1.5;
        }

        a {
            color: $white;
            text-decoration: none;
        }
    }

    .contact-form-header {
        overflow: hidden;
        position: relative;

        h2 {
            float: left;
        }

        button {
            float: right;
            background: transparent;
        }
    }

    .column-left,
    .column-right {
        height: 100%;
    }

    .column-left {
        background: $green;
        @include prop(padding-left, 180);
        @include prop(padding-top, 65);
    }

    .column-right {
        @include prop(padding-top, 65);
        background: #33944E;
        height: 100%;
    }
}