.homepage-fitstar-panel {
    position: relative;

    .fitstar-image {
        background: url('/assets/images/homepage-fitstar-bg.png') bottom center no-repeat;
        background-size: cover;    
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        top: 0;

        .logo-bg {
            position: absolute;
            display: inline-block;
            z-index: 2;
            background: $blueDark;
            width: 180px;
            height: 180px;
            left: 0;
            top: 0;
        }

        .v-wrapper {
            min-height: 180px;
        }

        .homepage-announcement {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 180px;
            height: 180px;
            width: 300px;
            padding: 10px 20px 0;
            background: $blueDarkest;
            overflow: hidden;

            .zeta {
                color: rgba(255, 255, 255, 0.7);
                margin-bottom: 5px;
            }

            .gamma {
                color: $white;
                margin-bottom: 15px;
            }

            .view-announcement-item {
                float: right;

                .icon-arrow-right {
                    padding: 0 0 0 5px;
                    background: transparent;

                    &:before {
                        color: $white;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .fitstar-text {
        height: 100vh;
        background: $white;

        .v-wrapper {
            min-height: 300px;
        }

        .text {
            padding: 0 50px;
            overflow: hidden;
            position: relative;
        }

        .beta {
            margin-bottom: 50px;
        }

        .zeta {
            color: $grey;
            margin-bottom: 20px;
        }

        .view-case-study {
            position: relative;
            color: rgba(66, 77, 87, 0.7);
            float: right;
            display: inline-block;

            .icon-arrow-right {
                display: inline-block;
                position: relative;
                left: 20px;
                top: 10px;
                background: $red;
                width: 30px;
                height: 30px;
                padding: 0;

                &:before {
                    position: absolute;
                    font-size: 12px;
                    color: $white;
                    font-weight: 600;
                    left: 50%;
                    margin-left: -3px;
                    top: 50%;
                    margin-top: -6px;
                }
            }
        }
    }
}