.homepage-fitstar-panel {
    position: relative;

    .fitstar-image {
        background: url('/assets/images/homepage-fitstar-bg.png') bottom center no-repeat;
        background-size: cover;    
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        top: 0;

        .logo-bg {
            position: absolute;
            display: inline-block;
            z-index: 2;
            background: $blueDark;
            width: 180px;
            height: 180px;
            left: 0;
            top: 0;
        }

        .v-wrapper {
            min-height: 180px;
        }

        .homepage-announcement {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 180px;
            height: 180px;
            width: 300px;
            padding: 10px 20px 0;
            background: $blueDarkest;
            overflow: hidden;

            .zeta {
                color: rgba(255, 255, 255, 0.7);
                margin-bottom: 5px;
            }

            .gamma {
                color: $white;
                margin-bottom: 15px;
            }

            .view-announcement-item {
                float: right;

                .icon-arrow-right {
                    padding: 0 0 0 5px;
                    background: transparent;

                    &:before {
                        color: $white;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .fitstar-text {
        height: 100vh;
        background: $white;

        .v-wrapper {
            min-height: 300px;
        }

        .text {
            padding: 0 50px;
            overflow: hidden;
            position: relative;
        }

        .beta {
            margin-bottom: 50px;
        }

        .zeta {
            color: $grey;
            margin-bottom: 20px;
        }

        .view-case-study {
            position: relative;
            color: rgba(66, 77, 87, 0.7);
            float: right;
            display: inline-block;

            .icon-arrow-right {
                display: inline-block;
                position: relative;
                left: 20px;
                top: 10px;
                background: $red;
                width: 30px;
                height: 30px;
                padding: 0;

                &:before {
                    position: absolute;
                    font-size: 12px;
                    color: $white;
                    font-weight: 600;
                    left: 50%;
                    margin-left: -3px;
                    top: 50%;
                    margin-top: -6px;
                }
            }
        }
    }
}

.homepage-case-study-nav {
    position: absolute;
    bottom: 0px;
    height: 280px;
    width: 100%;

    .homepage-nav {
        position: relative;
        height: 100%;
        width: 50%;
        left: 25%;

        .icon-arrow-left,
        .icon-arrow-right {
            @extend .circle;
            background: rgba(0, 0, 0, 0.3);
            height: 36px;
            width: 36px;
            border-radius: 50%;
            border: 3px solid $white;
            position: absolute;
            top: 50%;
            margin-top: -18px;

            &:before {
                position: absolute;
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                width: 36px;
                height: 36px;
                line-height: 37px;
                text-align: center;
                transform: rotate(180deg);
                opacity: 1;
                left: 50%;
                top: 50%;
                margin: -18px 0 0 -18px;
                text-indent: 2px;
            }
        }

        .nav-prev {
            .icon-arrow-right {
                left: 100px;
                background: rgba(0, 0, 0, 0.3) center center no-repeat;
                margin-left: -18px;
                @include trans(background 0.5s ease-out, height 0.5s ease-out, width 0.5s ease-out, margin 0.5s ease-out, border 0.5s ease-out);

                &:before {
                    transform: rotate(180deg);
                }
            }

            .zeta {
                opacity: 0;
                position: absolute;
                left: -10px;
                top: 50%;
                margin-top: -10px;
                @include trans(opacity 0.3s ease-out 0s);
                color: $white;
            }

            &:hover {
                .icon-arrow-right {
                    margin-top: -53px;
                    margin-left: -53px;
                    height: 106px;
                    width: 106px;
                    border: 3px solid transparent;
                    background: url('/assets/images/nav-merch-thumbnail.png') center center no-repeat;

                    &:before {
                        opacity: 0;
                    }
                }

                .zeta {
                    @include trans(opacity 0.3s ease-out 0.5s);
                    opacity: 1;
                }   
            }
        }

        .nav-next {
            .icon-arrow-right {
                right: 100px;
                background: $white center center no-repeat;
                border: 3px solid $green;
                margin-right: -18px;
                @include trans(background 0.5s ease-out, height 0.5s ease-out, width 0.5s ease-out, margin 0.5s ease-out, border 0.5s ease-out);

                &:before {
                    transform: rotate(0);
                    color: $green;
                }
            }

            .zeta {
                opacity: 0;
                position: absolute;
                right: -10px;
                text-align: right;
                top: 50%;
                margin-top: -10px;
                @include trans(opacity 0.3s ease-out 0s);
            }

            &:hover {
                .icon-arrow-right {
                    margin-top: -53px;
                    margin-right: -53px;
                    height: 106px;
                    width: 106px;
                    border: 3px solid transparent;
                    background: url('/assets/images/nav-merch-thumbnail.png') center center no-repeat;

                    &:before {
                        opacity: 0;
                    }
                }

                .zeta {
                    @include trans(opacity 0.3s ease-out 0.5s);
                    opacity: 0.7;
                }
            }
        }

        .screenshot {
            height: 217px;
            width: 409px;
            background: url('/assets/images/fitstar-device-preview.png') bottom center no-repeat;
            background-size: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -204px;
        }
    }
}