.homepage-fitstar-panel {
    position: relative;

    .fitstar-image {
        background: url('/assets/images/homepage-fitstar-bg.png') bottom center no-repeat;
        background-size: cover;    
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        top: 0;
    }

    .fitstar-text {
        height: 100vh;
        background: $white;

        .v-wrapper {
            min-height: 300px;
        }

        .text {
            padding: 0 50px;
            overflow: hidden;
            position: relative;
        }

        .beta {
            margin-bottom: 50px;
        }

        .zeta {
            color: $grey;
            margin-bottom: 20px;
        }

        .view-case-study {
            position: relative;
            color: rgba(66, 77, 87, 0.7);
            float: right;
            display: inline-block;

            .icon-arrow-right {
                display: inline-block;
                position: relative;
                left: 20px;
                top: 10px;
                background: $red;
                width: 30px;
                height: 30px;

                &:before {
                    position: absolute;
                    font-size: 12px;
                    color: $white;
                    left: 50%;
                    margin-left: -2px;
                    top: 50%;
                    margin-top: -6px;
                }
            }
        }
    }
}