::-webkit-input-placeholder {
	opacity: 1;
}

::-moz-placeholder {
   opacity: 1; 
}

:-ms-input-placeholder {  
	opacity: 1;
}

[placeholder]:-ms-input-placeholder {  
	opacity: 1;
}

form {
}

fieldset {
}

input {
}

.selectWrapper {
	
	select {
	}
}

input,
textarea {

   &:focus {
   }
}

input[type="text"],
input[type="search"],
input[type="email"], 
textarea {

   &:focus {
   }
}


#subForm {
    position: relative;
    z-index: 3;

    p {
        @include prop(padding-bottom, 20);
    }

    label {
        position: relative;
        font-family: "AvenirNextBold";
        @include fontSize(11);
        color: #CFEAD6;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.5;
        bottom: 5px;
        left: 0px;
        @include trans(left 0.3s ease, bottom 0.3s ease);

        @media only screen and (min-width: $mediumScreen + px) {
            bottom: -27px;
            left: 10px;
        }

        // &.field-in-focus {
        //     left: 0;
        //     bottom: 0;
        // }
    }

    input,
    select {
        background: #387E4B;
        text-decoration: none;
        box-shadow: none;
        border: none;
        @include prop(height, 33);
        @include pre(width, 100%);
        color: #004343;
        @include fontSize(20);
        font-family: "FrieghtTextLight";
        @include trans(background 0.3s ease);
        @include prop(padding-left, 10);

        &:focus {
            outline: 0;
            background: $white;
        }
    }

    select {
        // ::-webkit-input-placeholder {
        //    color: red;
        // }

        // :-moz-placeholder { /* Firefox 18- */
        //    color: red;  
        // }

        // ::-moz-placeholder {  /* Firefox 19+ */
        //    color: red;  
        // }

        // :-ms-input-placeholder {  
        //    color: red;  
        // }
    }

    #fieldasxd {
        @extend input;
        @include prop(height, 120);
        @include prop(padding, 10);
        resize: none;
    }

    .footer {
        p {
            overflow: hidden;
            position: relative;
        }

        button {
            float: right;
            font-family: "AvenirNextBold";
            @include fontSize(11);
            color: #CFEAD6;
            letter-spacing: 1px;
            width: 100%;

            @media only screen and (min-width: $smallScreen + px) {
                width: initial;
            }
        }
    }
}