// ==========================================================================
// Web Fonts
// ==========================================================================
@include font(AvenirNext, avenirnext-reg);
@include font(AvenirNextMed, avenirnext-med);
@include font(AvenirNextDemi, avenirnext-demi);
@include font(AvenirNextBold, avenirnext-bold);
@include font('iconfont', icomoon);
@font-face { 
    font-family: 'FreightTextBook'; 
        src: url('/assets/fonts/2E2C4B_0_0.eot'); 
        src: url('/assets/fonts/2E2C4B_0_0.eot?#iefix') format('embedded-opentype'),
             url('/assets/fonts/2E2C4B_0_0.woff2') format('woff2'),
             url('/assets/fonts/2E2C4B_0_0.woff') format('woff'),
             url('/assets/fonts/2E2C4B_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'FreightTextLt'; 
        src: url('/assets/fonts/2E2C4B_1_0.eot');
        src: url('/assets/fonts/2E2C4B_1_0.eot?#iefix') format('embedded-opentype'),
             url('/assets/fonts/2E2C4B_1_0.woff2') format('woff2'),
             url('/assets/fonts/2E2C4B_1_0.woff') format('woff'),
             url('/assets/fonts/2E2C4B_1_0.ttf') format('truetype');
}


//----------------------------------------------------------------
//  Titles
//----------------------------------------------------------------
* {
    @extend %aa;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
	font-weight: normal;
}

h1, h2, h3, 
.alpha, .beta, .gamma {
    font-family: 'FreightTextLt';
    line-height: 1.1;
}

h1, 
.alpha {
    color: $charcoalDarker;
    @include fontSize(55);
    text-transform: none;

    @media only screen and (min-width: $mediumScreen + px) {
        @include fontSize(65);
    }

    @media only screen and (min-width: $largeScreen + px) {
        @include fontSize(70);
    }
}

h2, 
.beta {
    @include fontSize(45);
    text-transform: none;
    color: $titleColor;

    @media only screen and (min-width: $mediumScreen + px) {
        @include fontSize(52);
    }
    
    @media only screen and (min-width: $largeScreen + px) {
        @include fontSize(56);
    }
}

h3, 
.gamma {
    @include fontSize(24);
    text-transform: none;
    color: $titleColor;

    @media only screen and (min-width: $mediumScreen + px) {
        @include fontSize(28);
    }

    &.sm {
        font-family: 'FreightTextBook';
        @include fontSize(20);
        color: $white;
    }
}

h4, 
.delta {
    font-family: 'AvenirNextDemi';
    @include fontSize(18);
    @include prop(letter-spacing, 2);
    text-transform: uppercase;
    color: $charcoalLight;
    line-height: 1.5;

    &.white {
        color: $white;
    }

    &.pink {
        color: $pinkDark;
    }
}

h5, 
.epsilon {
    font-family: 'AvenirNextBold';
    @include fontSize(15);
    @include prop(letter-spacing, 2);
    text-transform: uppercase;
    color: $charcoalLight;
    line-height: 1.9;
}

h6, 
.zeta {
    @include prop(letter-spacing, 1);
    font-family: 'AvenirNextBold';
    text-transform: uppercase;
    @include fontSize(11);
    color: $titleColor;
    line-height: 1.5;
}

//----------------------------------------------------------------
//  General Typography
//----------------------------------------------------------------
p,
ul,
ol,
address,
code, 
kbd, 
pre, 
samp {
    @include prop(margin-bottom, 30);

    &:last-child {
        margin-bottom: 0;
    }
}

nav ul {
    margin-bottom: 0;
}

i,
em,
address {
    font-style: normal;
}

b,
strong {
    font-weight: normal;
    font-family: "AvenirNextMed";
}

p {
}

p,
li {
    @include fontSize(16);
    font-family: 'AvenirNext';
	color: $bodyColor;
    line-height: 1.6;
    @include prop(margin-bottom, 15);

    &.intro-lg {
        font-family: 'FreightTextLt';
        @include fontSize(28);
        line-height: 1.4;
    }

    &.intro-med {
        font-family: 'FreightTextLt';
        @include fontSize(20);
        line-height: 1.5;
    }

    &.intro-sm {
        font-family: 'FreightTextLt';
        @include fontSize(18);
        line-height: 1.5;
    }

    span.number-sm {
        font-family: 'AvenirNextDemi';
        @include fontSize(35);
        line-height: 1.3;
    }

    span.number-lg {
        @include prop(letter-spacing, -4);
        font-family: 'AvenirNextDemi';
        @include fontSize(120);
        line-height: 1.3;
    }

    a {
        color: $redLight;
        transition: box-shadow 0.3s ease;

        &:hover {

        }
    }
}

ol,
ul {
    
    li {

    }
}

ul {

    li {

    }

    &.bulleted {
        padding-left: 25px;

        li {
            position: relative;
            padding-left: 25px;
            line-height: 1.8;

            &:before {
                @include radius(3);
                background-color: $charcoalLight;
                position: absolute;
                content: '';
                height: 6px;
                width: 6px;
                top: 10px;
                left: 0;
            }
        }
    }
}

ol {

    li {

    }
}


//----------------------------------------------------------------
//  Iconfont
//----------------------------------------------------------------
[class^="icon-"], [class*=" icon-"] {
    &:before {
        font-family: 'iconfont';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icon-active-nav:before {
    content: "\e802";
}
.icon-arrow-right:before {
    content: "\e800";
}
.icon-down-arrow:before {
    content: "\e604";
}
.icon-medium:before {
    content: "\e801";
}
.icon-checkmark:before {
    content: "\e601";
}
.icon-circle:before {
    content: "\e602";
}
.icon-github:before {
    content: "\eab1";
}
.icon-filament-logo:before {
    content: "\e600";
}
.icon-dribbble:before {
    content: "\eaa6";
}
.icon-arrow-down2:before {
    content: "\ea3e";
}
.icon-instagram:before {
    content: "\e605";
}
.icon-twitter:before {
    content: "\ea91";
}
.icon-linkedin2:before {
    content: "\eac9";
}